@font-face {
  font-family: "harry";
  font-weight: normal;
  src: url("fonts/HARRYP__.TTF");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100% !important;
}

body header {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

body header h1 {
  color: white;
  position: absolute;
  font-family: cursive;
  top: 35%;
  left: 17.5%;
  font-size: 12rem;
  text-shadow: 5px 5px 5px black;
  font-family: "harry";
}

body header nav {
  background: #161616;
  height: 100px;
  width: 100vw;
  position: fixed;
  z-index: 11111111111111111111111111111111111;
}

@media (min-width: 1001px) {
  body header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
    width: 100%;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

body header nav .logo img {
  margin: 10px 0 0 20px;
  width: 80px;
  height: 56px;
}

body header nav ul li a {
  font-family: "Lato";
  font-weight: bold;
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

body header nav ul li a i {
  padding-right: 10px;
}

body header a.active,
body header a:hover {
  background: #FF4E31;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .checkbtn {
  font-size: 30px;
  color: white;
  text-align: right;
  line-height: 100px;
  padding-right: 10%;
  cursor: pointer;
  display: none;
}

body header #check {
  display: none;
}

@media (max-width: 1000px) {
  body header nav {
    width: 100% !important;
  }
  body header .checkbtn {
    display: block;
  }
  body header ul {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    top: 100px;
    left: -100vw;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  body header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  body header a:hover,
  body header a.active {
    background: none;
    color: #FF4E31;
  }
  body header #check:checked ~ ul {
    left: 0;
  }
}

body h2 {
  margin-top: 2%;
  color: black;
  font-size: 3em;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-family: cursive;
}

body h2 i {
  padding-right: 20px;
}

body h2:hover {
  color: #FF4E31;
}

body h2:after {
  display: block;
  content: '';
  height: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 15%;
  margin: 0 auto;
  background-color: #FF4E31;
  margin: 1% 42.5% 5% 42.5%;
}

body p {
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  line-height: 100px;
  font-size: 2em;
}

body p span {
  padding-right: 20px;
  color: #FF4E31;
}

body p span i {
  padding-right: 20px;
}

body div {
  width: 70%;
  margin: 10px auto;
  height: 50px;
}

body div input,
body textarea {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  padding-left: 22%;
  background-color: #E8E9EA;
  border: 0;
  outline: none;
  margin: 0;
}

body label {
  display: block;
  position: relative;
  top: -50px;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-family: cursive;
  background-color: #000;
  position: relative;
  line-height: 50px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out, width 0.5s ease-in-out;
  transition: all 0.3s ease-in-out, width 0.5s ease-in-out;
  text-transform: uppercase;
}

body #formContact .contactChamp:nth-child(3) label {
  -webkit-transition: all 0.3s ease-in-out, width 0.7s ease-in-out;
  transition: all 0.3s ease-in-out, width 0.7s ease-in-out;
}

body #formContact .contactChamp:nth-child(4) label {
  -webkit-transition: all 0.3s ease-in-out, width 0.9s ease-in-out;
  transition: all 0.3s ease-in-out, width 0.9s ease-in-out;
}

body #formContact .contactChamp:nth-child(5) label {
  -webkit-transition: all 0.3s ease-in-out, width 1.1s ease-in-out;
  transition: all 0.3s ease-in-out, width 1.1s ease-in-out;
}

body #formContact .contactChamp:nth-child(6) label {
  -webkit-transition: all 0.3s ease-in-out, width 1.3s ease-in-out;
  transition: all 0.3s ease-in-out, width 1.3s ease-in-out;
}

body div:hover label,
body div input:focus + label,
body div textarea:focus + label,
body .labelOuvert {
  width: 20%;
}

body div input:focus + label,
body div textarea:focus + label {
  background-color: #FF4E31;
  color: #000;
}

body input[type=submit] {
  background-color: #000;
  border: 0;
  height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  background-color: #FF4E31;
  font-size: 15px;
  margin-top: 35px;
}

body textarea {
  resize: none;
  padding-top: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body textarea + label {
  top: -54px;
}

body textarea:focus,
body .messOuvert textarea {
  height: 150px;
}

body textarea:focus + label,
body .messOuvert label {
  top: -154px;
  height: 150px;
  line-height: 150px;
}

body .messOuvert {
  margin-bottom: 125px;
}

@media screen and (max-width: 1000px) {
  body form {
    width: 100%;
  }
  body form div {
    width: 90%;
  }
}

body .utilise {
  text-align: center;
  border: 3px solid #FF4E31;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 20%;
  height: 60px;
  line-height: 60px;
  font-size: 1rem;
  margin: 0 auto;
  font-family: cursive;
}

body .reussie {
  text-align: center;
  border: 3px solid #179722;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 20%;
  height: 60px;
  line-height: 60px;
  font-size: 1rem;
  margin: 0 auto;
  font-family: cursive;
}

body .ancienne {
  margin-top: 100px 0 0 0;
  text-align: left;
  width: 100%;
}

body #modifier {
  margin-top: 625px;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  body header {
    width: 100%;
    max-width: 100%;
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  body header h1 {
    color: white;
    position: absolute;
    font-family: cursive;
    top: 40%;
    left: 20%;
    width: 80%;
    height: 22.5%;
    font-size: 8rem;
    text-shadow: 5px 5px 5px black;
    font-family: "harry";
  }
  body h2 {
    margin-top: 5%;
    color: black;
    font-size: 2em;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-family: cursive;
  }
  body h2 i {
    padding-right: 10px;
  }
  body h2:hover {
    color: #FF4E31;
  }
  body h2:after {
    display: block;
    content: '';
    height: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 15%;
    margin: 0 auto;
    background-color: #FF4E31;
    margin: 1% 42.5% 5% 42.5%;
  }
}
/*# sourceMappingURL=details.css.map */