@font-face {
    font-family: "harry";
    font-weight: normal;
    src: url("fonts/HARRYP__.TTF");
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    max-width: 100% !important;
}

body {
    header {
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-image: url("images/header.jpg");
        background-repeat: no-repeat;
        background-size: auto;

        h1 {
            color: white;
            position: absolute;
            font-family: cursive;
            top: 35%;
            left: 35%;
            font-size: 12rem;
            text-shadow: 5px 5px 5px black;
            font-family: "harry";
        }

        //----------------------------------------------MENU--------------------------------------------------------------

        nav {
            background: #161616;
            height: 100px;
            width: 100vw;
            position: fixed;
            z-index: 11111111111111111111111111111111111;
        }


        @media (min-width: 1001px) {
            nav ul {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                width: 100%;
            }

            nav {
                display: flex;
            }
        }

        nav ul li {
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
        }

        nav .logo img {
            margin: 10px 0 0 20px;
            width: 80px;
            height: 56px;
        }

        nav ul li a {
            font-family: "Lato";
            font-weight: bold;
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;

            i {
                padding-right: 10px;
            }
        }

        a.active,
        a:hover {
            background: #FF4E31;
            transition: .5s;
        }

        .checkbtn {
            font-size: 30px;
            color: white;
            text-align: right;
            line-height: 100px;
            padding-right: 10%;
            cursor: pointer;
            display: none;
        }

        #check {
            display: none;
        }


        @media (max-width: 1000px) {
            nav {
                width: 100% !important;
            }

            .checkbtn {
                display: block;
            }

            ul {
                position: fixed;
                width: 100vw;
                height: 100vh;
                background: #000;
                top: 100px;
                left: -100vw;
                text-align: center;
                transition: all .5s;
            }

            nav ul li {
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }


            a:hover,
            a.active {
                background: none;
                color: #FF4E31;
            }

            #check:checked~ul {
                left: 0;
            }
        }
    }

    h2 {
        margin-top: 2%;
        color: black;
        font-size: 3em;
        text-align: center;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        font-family: cursive;

        i {
            padding-right: 20px;
        }

        &:hover {
            color: #FF4E31;
        }

        &:after {
            display: block;
            content: '';
            height: 5px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            width: 15%;
            margin: 0 auto;
            background-color: #FF4E31;
            margin: 1% 42.5% 5% 42.5%;
        }

    }

    //---------------------------------------BUTTON----------------------------------------------------------------------

    .svg-wrapper {
        height: 60px;
        margin: 5% 40% 2% 40%;

        transform: translateY(-50%);
        width: 25%;
    }

    .shape {
        fill: transparent;
        stroke-dasharray: 140 500;
        stroke-dashoffset: -425;
        stroke-width: 8px;
        stroke: #FF4E31;

    }

    .text {
        color: #000;
        font-family: 'Roboto Condensed';
        font-size: 1em;
        letter-spacing: 6px;
        line-height: 32px;
        position: relative;
        text-align: center;
        top: -48px;
        width: 100%;
        margin-left: 80%;
        padding-right: 4%;
        margin: 0 auto;
    }

    @keyframes draw {
        0% {
            stroke-dasharray: 140 540;
            stroke-dashoffset: -474;
            stroke-width: 8px;
        }

        100% {
            stroke-dasharray: 760;
            stroke-dashoffset: 0;
            stroke-width: 2px;
        }
    }

    .svg-wrapper:hover .shape {
        -webkit-animation: 0.5s draw linear forwards;
        animation: 0.5s draw linear forwards;
}

    .admin {
        text-align: center;
        margin-bottom: 4%;
        font-size: 1.4em;
        font-family: cursive;

        span {
            color: #FF4E31;
        }
    }

    .activer {
        text-align: center;
        margin-bottom: 4%;
        font-size: 1.4em;
        font-family: cursive;
    }
}

//---------------------------------------TABLE---------------------------------------------------------------------


.cont {
    text-align: center;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding: 2% 0 0 0;
    background: #000;
    font-size: 1.1em;

    i {
        padding-top: 2%;
        float: left;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;

        &:hover {
            color: #FF4E31;
        }
    }

    th {
        color: #FF4E31;
        font-size: 1.6rem;
        padding: 0 5%;
        width: 15%;
        text-align: center;
    }

    tr,
    td {
        color: white;
        font-family: cursive;
        height: 70px;
        width: 15%;
        padding: 0 5%;

        .imgtable img {
            padding-top: 20px;
        }
    }

    td a {
        color: white;
        font-family: cursive;
        text-decoration: underline;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;

        &:hover {
            color: #FF4E31;
        }
        
    }
}

//----------------------------------------------------------------------RESPONSIVE---------------------------------------------------------------------

@media (max-width: 1000px) {
    body {
        header {
            width: 100%;
            max-width: 100%;
            background-image: url("images/header.jpg");
            background-repeat: no-repeat;
            background-size: auto;

            h1 {
                color: white;
                position: absolute;
                font-family: cursive;
                top: 40%;
                left: 20%;
                width: 80%;
                height: 22.5%;
                font-size: 8rem;
                text-shadow: 5px 5px 5px black;
                font-family: "harry";
            }
        }

        h2 {
            margin-top: 5%;
            color: black;
            font-size: 2em;
            text-align: center;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            font-family: cursive;

            i {
                padding-right: 10px;
            }

            &:hover {
                color: #FF4E31;
            }

            &:after {
                display: block;
                content: '';
                height: 5px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                width: 15%;
                margin: 0 auto;
                background-color: #FF4E31;
                margin: 1% 42.5% 5% 42.5%;
            }

        }

        //---------------------------------------BUTTON---------------------------------------------------------------------

        .shape {
            display: none;
        }

        .text {
            color: #000;
            font-family: 'Roboto Condensed';
            font-size: 1em;
            letter-spacing: 6px;
            line-height: 32px;
            position: relative;
            text-align: center;
            top: -48px;
            border: 1px solid #FF4E31;
            width: 50%;
            margin: 0 auto;
        }


        //---------------------------------------TABLE---------------------------------------------------------------------


        .cont {
            text-align: center;
            overflow: hidden;
            width: 100%;
            max-width: 100%;
            padding: 2% 0 0 0;
            background: #000;
            font-size: 0.8em;

            i {
                padding-top: 2%;
                float: left;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;

                &:hover {
                    color: #FF4E31;
                }
            }

            th {
                color: #FF4E31;
                font-size: 1rem;
                padding: 0 2.5%;
                width: 20%;
                text-align: center;
            }

            tr,
            td {
                color: white;
                font-family: cursive;
                height: 50px;
                width: 20%;
                padding: 0 2.5%;

                .imgtable img {
                    padding-top: 10px;
                }
            }

            td a {
                color: white;
                font-family: cursive;
                text-decoration: underline;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;

                &:hover {
                    color: #FF4E31;
                }
            }
        }
    }
}

.titlea {
    margin: 20px 0;
}